doctype html
html
	head
		title=title
		link(type='text/css', rel='stylesheet', href='./css/materialize.min.css', media='screen,projection')
		link(type='text/css', rel='stylesheet', href='./css/style.css', media='screen,projection')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body.grey.lighten-2
		.navbar-fixed
			nav.red.darken-4
				.container
					.nav-wrapper
						a.brand-logo(href='/')
							i.material-icons home
							| Continuous Integration
						a.sidenav-trigger(href='#', data-target='mobile-nav')
							i.material-icons menu
						ul#nav-mobile.right.hide-on-med-and-down
							li
								a(href='/wiki', target='_blank')
									i.material-icons.left book
									| Wiki code
		ul#mobile-nav.sidenav
			li
			.user-view
				.background.red.darken-4
				a(href='#user')
					img.circle(src='/img/PenguinDab.png')
				a(href='https://github.com/TMRSOFT/', target='_blank')
					span.white-text.name TMRSOFT
				a(href='https://github.com/TMRSOFT/ci-mastery', target='_blank')
					span.white-text.email Continuous Integration project
			li
				a(href='/wiki', target='_blank')
					i.material-icons.left book
					| Wiki code
			li
				.divider
			li
				a.subheader=version
		.container
			.row
				.s12
					block content
		script(src='./socket.io/socket.io.js')
		script(src='./js/materialize.min.js')
		script(src='./js/script.js')
		block scripts